<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h2>Agent Itinerary</h2>
    <p>Travelling on <strong><%= @results.first[:departure_date_time].strftime('%A %-d %B %Y') %></strong>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div id="map"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-md-offset-2" style="margin-bottom: 5px;">
    <a class="btn btn-primary" href='/' role='button'>New itinerary</a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <% @results.each_with_index do |result, index| %>
      <div class="table-responsive" style="margin-bottom:10px;">
        <table class="table table-striped table-bordered">
          <tr><th colspan=2>Stop <%= index %> - <%= result[:postcode] %></th></tr>
          <% if result[:travel_time_minutes] %>
            <tr><th>Travel time from last stop</th><td><%= Time.at(result[:travel_time_minutes] * 60).utc.strftime('%H:%M') %></td></tr>
          <% end %>
          <% if result[:arrival_date_time] %>
            <tr><th>Arrival time</th><td><%= result[:arrival_date_time].strftime('%H:%M') %></td></tr>
          <% end %>
          <% if result[:appointment_duration] > 0 %>
            <tr><th>Appointment duration</th><td><%= Time.at(result[:appointment_duration] * 60).utc.strftime('%H:%M') %></td></tr>
          <% end %>
          <% if result[:departure_date_time] %>
            <tr><th>Departure time</th><td><%= result[:departure_date_time].strftime('%H:%M') %></td></tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>

<script>
  var map;
  var currentinfowindow
  function initMap() {
    var stop0coords = new google.maps.LatLng(<%= @results.first[:latitude] %>, <%= @results.first[:longitude] %>);
    map = new google.maps.Map(document.getElementById('map'), {
      center: stop0coords,
      zoom: 16
    });
    <% route_coords = '' %>
    <% @results.each_with_index do |result, index|
        window_content = "<h5>Stop #{index} - #{result[:postcode]}</h5>"
        window_content += "<br />Travel time: #{Time.at(result[:travel_time_minutes] * 60).utc.strftime('%H:%M')}" if result[:travel_time_minutes]
        window_content += "<br />Arrival time: #{result[:arrival_date_time].strftime('%H:%M')}" if result[:arrival_date_time]
        window_content += "<br />Appointment duration: #{Time.at(result[:appointment_duration] * 60).utc.strftime('%H:%M')}" if result[:appointment_duration] > 0
        window_content += "<br />Departure time: #{result[:departure_date_time].strftime('%H:%M')}" if result[:departure_date_time]

        route_coords += "{ lat: #{result[:latitude]}, lng: #{result[:longitude]} }," %>
      var stop<%= index %>coords = new google.maps.LatLng(<%= result[:latitude] %>, <%= result[:longitude] %>);
      var stop<%= index %>marker = new google.maps.Marker({
        position: stop<%= index %>coords,
        title:'Stop <%= index %>'
      });
      stop<%= index %>marker.setMap(map);
      var stop<%= index %>window = new google.maps.InfoWindow({
        content: '<%= window_content %>'
      });
      stop<%= index %>marker.addListener('click', function() {
        if (currentinfowindow) {
          eval(currentinfowindow).close();
        }
        currentinfowindow = 'stop<%= index %>window';
        stop<%= index %>window.open(map, stop<%= index %>marker);
      });
    <% end %>

    var route_coords = [<%= route_coords.to_s %>];
    
    var route = new google.maps.Polyline({
      path: route_coords,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    route.setMap(map);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
